/*Restaurant Styles CSS
	Created by: Mitch Watson
	Date: December 31st 2019 */


a p {
	padding: 15px;
	display: inline;
	font-size: 1.7em;
	font-family: Arial;

}

a {
	text-decoration: none;
}


fieldset {
	border: yellow solid 3px;
}

	
header, footer {
	margin-top: 15px;
	font-weight: bold;
	color: Yellow;
	text-align: center;
	font-size: 100px%;
	font-style: italic;
	}

a:visited {
	color: limegreen;
	}
	
link {
	color: yellow;
	}
	
a:hover{
	font-weight: bold;
	}
	
.bg {
	line-height:25px;
	color: white;
	text-align: center;
	border: red solid 3px;
	padding: 0;
	height: 100%;
	max-width: 900px;
	margin: 0 auto;
	background-image: url("../images/surf.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	}

hr {
	border: 2px red solid;
	}
