
form {
	text-align: center
}

#bg {
	color: white;
	margin: auto;
	max-width: 1200px;
	background: rgb(138,12,12);	
	background: linear-gradient(90deg, rgba(138,12,12,1) 0%, rgba(73,9,121,1) 48%, rgba(156,21,21,1) 100%);
}


.jumbotron {
    background-image: url("../images/surf5.jpg");
    background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em; /*adds depth to text/background*/
}



nav .btn:hover {
	background-color: yellow;
	color: #23B6FB;
}

nav .btn { 
	font-size: 90%;
	width: 90%;
	background-color: #23B6FB;
	color: white;
	font-weight: bold;
}

	
#homeBtn {

	color: #23B6FB;
	font-size: 40px;
	padding: 0%;

}

#homeBtn:hover {
	color: yellow;
}

hr {
	height: 3px;
	color: white solid;
}

footer {
	text-align: center;
}

img {
	margin: auto;
}


hr {
	border-top: 3px white solid; /*hr white line*/
	
}

.carousel-caption {
	text-shadow: black 0.3em 0.3em 0.3em; /*adds depth to text/background*/
}

blockquote {
	font-family: arial;
	font-size: 130%;
}

h2 {
	font-style: italic;
}

#noJava {
	background-color: orange;
	color: black;
	font-weight: bold;
	text-align: center;
}

#contactForm {
	width: 400px;
	margin: auto;
}
