/*Restaurant Styles CSS
	Created by: Mitch Watson
	Date: December 31st 2019 */

h1 {
    font-family: verdana;
    padding: 15px;
}

#homeClick {
	font-size: 200%;
}

.jumbotron {
	background-image: url("../images/beach.jpg");
	background-image: cover;
	
}


#jsdisabled {
	color: orange;
	font-family: Arial;
	text-decoration: none;

}

fieldset p {
	font-weight: bold
}



fieldset {
	border: yellow solid 3px;
}

	
header, footer {
	margin-top: 15px;
	font-weight: bold;
	color: Yellow;
	text-align: center;
	font-size: 100px%;
	font-style: italic;
	}

footer {
	padding: 20px
}	
	

/*	
.bg {
	line-height:25px;
	color: white;
	text-align: center;
	border: red solid 3px;
	padding: 0;
	height: 100%;
	max-width: 900px;
	margin: 0 auto;
	background-image: url("../images/surf.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	} */

hr {
	border: 2px red solid;
	}
