/*Restaurant Styles CSS
	Created by: Mitch Watson
	Date: December 31st 2019 */

h1 {
    font-family: verdana;
    padding: 15px;
}
a p {
	padding: 15px;
	display: inline;
	font-size: 1.7em;
	font-family: Arial;

}

fieldset p {
	font-weight: bold
}

a, a:hover {
	color: yellow;
	text-decoration: none;
}


fieldset {
	border: yellow solid 3px;
}

	
header, footer {
	margin-top: 15px;
	font-weight: bold;
	color: Yellow;
	text-align: center;
	font-size: 100px%;
	font-style: italic;
	}

footer {
	padding: 20px
}	
	
a:hover{
	font-weight: bold;
	}
	
a:visited{
	color: white;
}
	
.bg {
	line-height:25px;
	color: white;
	text-align: center;
	border: red solid 3px;
	padding: 0;
	height: 100%;
	max-width: 900px;
	margin: 0 auto;
	background-image: url("../images/surf.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	}

hr {
	border: 2px red solid;
	}
